.overlay{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Subtle dark overlay for contrast */
    z-index: 4;
    backdrop-filter: blur(8px); /* Add blur to the entire background */

}
.progress-container {
    background-color: white;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color:black;
    transition: width 0.3s ease-in-out;
}

.progress-text {
    text-align: center;
    margin-top: 20px;
}